  @import "tailwindcss";

:root {
  --grn: #434B34;
  --txt: #3a3a3a;
    min-height: 100vh;
  /* --heading-font: "Poppins", sans-serif; */
}
html {
  scrollbar-gutter: stable; /* ✅ keeps layout width consistent even if scrollbar appears/disappears */
}
nav {
  will-change: transform;
}
html, body {
 width: 100%;
 height: auto !important;
  overflow-y: auto !important;
  overflow-x: hidden;
}
html{
  /* scroll-behavior: smooth; */
}
html.lenis {
  height: auto;
}
body{
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
  transform-origin: center;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
